.flex {
  display: flex;
}

.card {
  width: 120px;
  height: 150px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px;
  margin: 100px 50px auto;
  border: 1px solid black;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.5);
}

.heart {
  width: 30px;
  height: 30px;
  margin-top: 50px;
}

.club {
  width: 45px;
  height: 45px;
  margin-top: 50px;
}

.spade {
  width: 30px;
  height: 30px;
  margin-top: 50px;
}

.diamond {
  width: 30px;
  height: 30px;
  margin-top: 50px;
}

#button {
  background-color: black;
  color: white;
  margin: 0 auto;
}
